<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ newsitem.title }}</title>
</head>
<body>
<p><a href="/">Главная</a></p>

<h1>{{ newsitem.title }}</h1>

<p>{{ newsitem.description }}</p>
<p>Дата создания: {{ newsitem.created_at }}</p>
<p>Дата изменения: {{ newsitem.edit_at }}</p>
<br>

<ul>
    {% for comment in  newsitem.news_link.all %}
        <li><p>Комментарий: {{ comment.comment }}</p></li>
        <p><i>Автор комментария: {{ comment.user_name }}
        {% if not comment.user %}
                ( аноним )
        {% endif %}
        </i></p>
    {% endfor %}
</ul>

{#<p><a href="/newsitems/add_comment">Добавить комментарий</a></p>#}
<p><a href="{% url 'AddNewsComment' newsitem.pk %}">Добавить комментарий</a></p>

</body>
</html>
