<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Объявления</title>
</head>
<body>

<p><a href="/">Главная</a></p>

<h1>Объявления</h1>

{% if advertisements %}
<ul>
    {% for advertisement in advertisements %}
    <li>
        <p>
            <a href="/advertisements/{{ advertisement.id }}">
                <li>{{ advertisement.title }} Цена:{{ advertisement.price }}</li>
                {{ advertisement.advertisement_heading }}<li>{{ advertisement.advertisement_type }}</li>
            </a>
        </p>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Объявлений нет</p>
{% endif %}


</body>
</html>
