<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Прошел все курсы на SkillBox. Продаю готовые домашние задания</h1>

<h2><a href="http://127.0.0.1:8000/module1">Интернет маркетолог с нуля</a></h2>
<h2><a href="http://127.0.0.1:8000/module2">Методист образовательных программ</a></h2>
<h2><a href="http://127.0.0.1:8000/module3">Продвижение в инстаграм</a></h2>
<h2><a href="http://127.0.0.1:8000/module4">SMM-специалист с нуля</a></h2>
<h2><a href="http://127.0.0.1:8000/module5">Кройка и шитье</a></h2>

</body>
</html>